<div class="fav-container">
  <div class="fav-header">
    <h1 class="mat-h1">Favourite recipes</h1>
    <button 
      (click)="removeAllFromFavourites()" 
      mat-raised-button 
      color="warn"
      [disabled]="favourites().length > 0 ? false : true"
    >Remove All</button>
  </div>
  <mat-divider />
  <app-grid-list>
    @for (favourite of favourites(); track favourite.id) {
      <app-card [recipe]="favourite"></app-card>
    } @empty {
      <span>No recipes.</span>
    }
  </app-grid-list>
</div>