<div class="card-container">
  <mat-card appearance="outlined" class="card">
    <a 
      [routerLink]="recipe.api ? ['/browse/recipe', recipe.id, { api: recipe.api }] : ['/user-recipes/detail', recipe.id]"
    >
      <mat-card-header class="card-header">
        <mat-card-title title="{{ recipe.title }}">
          {{ recipe.title }}
        </mat-card-title>
      </mat-card-header>
      <img class="card-img" mat-card-image src="{{ recipe.imageUrl }}">
    </a>
    <mat-card-actions class="card-actions">
      @if (recipe.api) {
        <app-favourite-button [recipe]="recipe" />
      } @else {
        <div class="user-recipes-buttons">
          <button 
            color="primary"
            class="card-button" mat-mini-fab 
            aria-label="remove recipe from user-recipes"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button 
            color="primary"
            class="card-button" mat-mini-fab 
            aria-label="remove recipe from user-recipes"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </mat-card-actions>
  </mat-card>
</div>
