<div class="card-container">
  <mat-card appearance="outlined" class="card">
    <a 
      [routerLink]="recipe.api ? ['/browse/recipe', recipe.id, { api: recipe.api }] : ['/user-recipes/detail', recipe.id]"
    >
      <mat-card-header class="card-header">
        <mat-card-title title="{{ recipe.title }}">
          {{ recipe.title }}
        </mat-card-title>
      </mat-card-header>
      <img class="card-img" mat-card-image src="{{ recipe.imageUrl }}">
    </a>
    <mat-card-actions class="card-actions">
      <app-favourite-button [recipe]="recipe" />
    </mat-card-actions>
  </mat-card>
</div>
