.recipe-list-container {
  margin: 20px;
}

/* .list-content-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
} */

@media screen and (max-width: 425px) {
  .recipe-list-container {
    margin: 0px;
  }
}