<!-- <div fxLayout="column">
  <h3>Ingredients:</h3>
  <div *ngFor="let data of (recipe | async)?.extendedIngredients">
    <mat-card class="recipe-ingredients-item">
      {{ data.amount }} {{ data.measures.metric.unitShort }} {{ data.name }}
    </mat-card>
  </div>
</div> -->

<div fxLayout="column">
  <h3>Ingredients:</h3>
  <div *ngFor="let data of recipe">
    <mat-card class="recipe-ingredients-item">
      {{ data.amount }} {{ data.measures.metric.unitShort }} {{ data.name }}
    </mat-card>
  </div>
</div>