<div fxLayout="column">
  <h3>Ingredients:</h3>
  <div>
    @for (ingredient of ingredients; track ingredient.name) {
      <mat-card appearance="outlined" class="recipe-ingredients-item">
        <mat-card-content>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}</mat-card-content>
      </mat-card>
    } @empty {
      <mat-card appearance="outlined" class="recipe-ingredients-item">
        <mat-card-content>There are no ingredients.</mat-card-content>
      </mat-card>
    }
  </div>
</div>