<div class="detail-container">
  @if (recipeDetail()) {
    <div class="detail-presentation">
      <div class="detail-header-wrapper">
        <h1 class="mat-h1">{{ recipeDetail().title }}</h1>
        <div>
          <ul class="detail-summary-list">
            <li><mat-icon>group</mat-icon><span>{{ recipeDetail().servings }} servings</span></li>
            <li><mat-icon>access_time</mat-icon><span>{{ recipeDetail().totalTime }} minutes</span></li>
          </ul>
        </div>
      </div>
      <div class="detail-img">
        <img src="{{ recipeDetail().imageUrl }}" alt="Recipe image">
        <app-favourite-button [recipe]="recipeDetail()" class="detail-button" />
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="recipe-details">
      <div class="detail-ingredients">
        <h3>Ingredients:</h3>
        <div>
          @for (ingredient of recipeDetail().ingredients; track $index) {
            <mat-card appearance="outlined" class="detail-ingredients-item">
              <mat-card-content>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}</mat-card-content>
            </mat-card>
          } @empty {
            <mat-card appearance="outlined" class="detail-ingredients-item">
              <mat-card-content>There are no ingredients.</mat-card-content>
            </mat-card>
          }
        </div>
      </div>
      
      <div>
        <h3>Instructions:</h3>
        @if (recipeDetail().instructions) {
          <div class="instructions-text" [innerHTML]="recipeDetail().instructions | safeHtml"></div>
        } @else  {
          <span>There are no instructions.</span>
        }
      </div>
      
    </div>
  } 
  <!-- @else {
    <ng-template #loading> Loading... </ng-template>
    <loading-spinner>
  } -->
  
</div>