<div class="recipe-presentation" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px grid">
  @if (recipeDetail) {
    <div fxFlex="50%" fxFlex.xs="100%" fxLayout="column" class="recipe-presentation-header-wrapper">
      <h1 class="mat-h1">{{ recipeDetail.title }}</h1>
      <div>
        <ul class="summary-list" fxLayout="row">
          <li><mat-icon>group</mat-icon> {{ recipeDetail.servings }} servings</li>
          <li><mat-icon>access_time</mat-icon> {{ recipeDetail.totalTime }} minutes</li>
        </ul>
      </div>
    </div>
    <div class="summary-img" fxFlex="50%" fxFlex.xs="100%">
      <img src="{{ recipeDetail.imageUrl }}" alt="Recipe image">
      <button (click)="addToFavourites(recipeDetail)"  mat-mini-fab class="more-button" aria-label="add to favourites">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  }
</div>