<div class="user-recipe-detail-container">
  @if (recipe) {
    <div class="detail-presentation">
      <div class="detail-header-wrapper">
        <h1 class="mat-h1">{{ recipe.title }}</h1>
        <div>
          <ul class="detail-summary-list">
            <li><mat-icon>group</mat-icon><span>{{ recipe.servings }} servings</span></li>
            <li><mat-icon>access_time</mat-icon><span>{{ recipe.totalTime }} minutes</span></li>
          </ul>
        </div>

        <!-- <a class="detail-presentation-link" href="{{ recipe.sourceUrl }}">{{ recipe.sourceName }}</a> -->

      </div>
      <div class="detail-img">
        <img src="{{ recipe.imageUrl }}" alt="Recipe image">

        <!-- <app-favourite-button [recipe]="recipe" class="detail-button" /> -->

      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="recipe-details">
      <div class="detail-ingredients">
        <h3>Ingredients:</h3>
        <div>
          @for (ingredient of recipe.ingredients; track $index) {
            <mat-card appearance="outlined" class="detail-ingredients-item">
              <mat-card-content>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}</mat-card-content>
            </mat-card>
          } @empty {
            <mat-card appearance="outlined" class="detail-ingredients-item">
              <mat-card-content>There are no ingredients.</mat-card-content>
            </mat-card>
          }
        </div>
      </div>
      
      <div>
        <h3 class="instructions-title">Instructions:</h3>
        @if (recipe.instructions) {
          <div class="instructions-text" [innerHTML]="recipe.instructions | safeHtml"></div>
        } @else  {
          <span>There are no instructions.</span>
        }
      </div>
    </div>
  } @else {
    <app-loading />
  }
</div>