
.user-recipes-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-recipes-list-create-btn {
  margin-right: 0.5rem;
}

@media screen and (max-width: 670px) {
  .user-recipes-list-header {
    display: flex;
    align-items: flex-start;
  }
}