.user-recipes-list-container {
  /* margin: 20px; */
}

.user-recipes-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-recipes-list-create-btn {
  margin-right: 0.5rem;
}

@media screen and (max-width: 425px) {
  .user-recipes-list-container {
    /* margin: 0px; */
  }
}

@media screen and (max-width: 670px) {
  .user-recipes-list-header {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    /* margin-bottom: 0.5rem; */
  }
}