<div class="user-recipes-list-container">
  <div class="user-recipes-list-header">
    <h1 class="mat-h1">My recipes</h1>
    <div>
      <button 
        (click)="onClickCreateBtn()"
        mat-raised-button
        color="accent"
        class="user-recipes-list-create-btn"
      >
        Create
      </button>
      <button 
        (click)="deleteAllUserRecipes()" 
        mat-raised-button 
        color="primary"
        [disabled]="userRecipes().length > 0 ? false : true"
      >
        Remove All
      </button>
    </div>
  </div>
  <mat-divider />
  <app-grid-list>
    @for (userRecipe of userRecipes(); track userRecipe.id) {
      <app-card [recipe]="userRecipe"></app-card>
    } @empty {
      <span>No recipes.</span>
    }
  </app-grid-list>
</div>